[2019-12-09 22:26] mgrybyk opened #2 "Add unit tests"
Add unit tests to reach 99% coverage. Any help is appreciated!

[2020-01-07 14:22] vbyjsue opened #3 "Not working with wdio/allure-reporter"
Using wdio 5.18.4 and allure-reporter 5.16.6. In case of a failed assertion the allure reporter can not parse the failure message to XML which causes the process to hang indefinitely.
This is the failure message that can not be handled by allure-js-commons 1.3.2.

[32m- Ditt spel på Bomben [7m(är betal|kostade)[27m[39m
[31m+ Ditt spel på Bomben [7mkostade 16kr[27m[39m
[31m+ [7mDu hittar

[2020-01-07 19:17] mgrybyk commented on #3
Thanks for submitting, I'll take a look in a week or two

[2020-01-16 08:59] christian-bromann opened #4 "Add TSLint"
Add TSLint for additional checks.

[2020-01-16 09:01] christian-bromann opened #5 "Increase Unit Testing"
Let's bring up the unit test coverage to like 90% and higher.

[2020-01-27 21:53] Geloloboy opened #7 "Failed tests does not exit"
Description:
When a tests fail, it doesn't exit automatically

Expected Behaviour:
When tests fail, it'll continue running and exit properly

Actual Behaviour:
When tests fail, it gets stuck to the point where it describes the discrepancy between the expected and actual results

Additional Info:
I'm using mocha as my framework

[2020-01-27 22:26] christian-bromann commented on #7
@Geloloboy depends on how you have setup Mocha to work it usually doesn't exist after a failure. See Mochas `bail` option.

[2020-01-28 21:54] Geloloboy commented on #7
@christian-bromann
I tried adding `bail` to my mochaopts but it didn't help. Here's what my mochaOpts look like:
`
    mochaOpts: {
        ui: 'bdd',
        timeout: 60000,
        require: ['@babel/register'],
        bail: true
    },
`

Also, this doesn't happen when I was using the Chai assertion library.

[2020-01-29 08:10] mgrybyk commented on #7
@Geloloboy can you please help reproducing the issue?

May you share your wdio conf and minimal reproducible example?

Also make sure you have latest versions of webdriverio and all wdio packages.

[2020-01-30 00:33] Geloloboy commented on #7
@mgrybyk
I was able to replicate this issue using this repo:
https://github.com/Geloloboy/wdioexpectissue.git

Looks like the problem appears when you add allure as a reporter

[2020-02-05 10:55] sergiocabreraoriaret commented on #7
I agree with @Geloloboy  ... for me, this is reproducible if in the wdio config has allure & mochaweosme at the same time.

If only has mochawesome,... works fine

![image](https://user-images.githubusercontent.com/58176975/73835810-53bf2800-480e-11ea-8aa8-29b7d1bb50d7.png)

[2020-03-10 09:08] mbeneyto opened #9 "Error message fails to show full element selector when using shadow$ command"
**Description**
When an expectation fails, error message does not provide accurate element selector info when using `shadow$` command.

**Expected Behaviour**
When an expectation fails, it provides full element selector info when using `shadow$` command.
`$('form').$('input')`

**Actual Behaviour**
When an expectation fails, error message has the following structure when using `shadow$` command:
`

[2020-03-10 09:56] christian-bromann commented on #9
@mbeneyto can you provide a reproducible example?

[2020-03-20 09:09] lacell75 commented on #3
I'm waiting the fix also. I have the same bug with characters not allowed in XML, please see logs below :
[code]

[2020-03-20 16:55] christian-bromann commented on #3
Duplicate of webdriverio/webdriverio#5038

[2020-03-20 16:55] #3 closed

[2020-03-31 17:04] christian-bromann opened #33 "Report assertions"
In order to better understand what has been asserted it would be super helpful if the library could report every assertion so that the consumer (WebdriverIO) can use this to enrich its reporting capabilities.

[2020-04-01 12:39] AnnikaNissen opened #36 "String option 'ignoreCase' not working for 'toHaveValue()'"
Hi

It seems like the option `ignoreCase` is not working for the `toHaveValue()` assertion method.

Given this assertion:
[code]

I'm getting this error when running the test:
[code]

Is that a bug or do the 'stringOptions' just don't work for `toHaveValue`?

Best regards,
Annika

By the way:
Great project! I'm using 'chai-webdriverio' right now and just started to look into this - it looks very p

[2020-04-01 12:46] mgrybyk commented on #36
Might be a bug

[2020-04-01 15:53] mgrybyk commented on #36
@AnnikaNissen thanks for submitting! Apparently not only `toHaveValue` function is affected.

[2020-04-01 17:49] AnnikaNissen commented on #36
@mgrybyk You are welcome! Thanks for your great work, guys 😃

Besides the `toHaveValue` function, I tested it with the `toHaveText` function and that worked as expected.

[2020-04-12 08:05] serhatbolsu opened #45 "way to do number comparison"
Is there a way to do number comparison ?

ex.
`expect(page.getCount()).to.be.gt(2000)`

I would like to replace chai to use expect-webdriverio just need to map those as well

[2020-04-12 08:50] serhatbolsu commented on #45
Found it here with Jest except as you mentioned in doc
https://jestjs.io/docs/en/expect

[2020-04-12 08:50] #45 closed

[2020-04-21 09:01] christian-bromann commented on #36
This seems to be fixed on latest master.

[2020-04-21 09:01] #36 closed

[2020-04-21 09:55] #4 closed

[2020-04-21 09:56] christian-bromann commented on #5
duplicate of #2

[2020-04-21 09:56] #5 closed

[2020-04-21 09:56] christian-bromann commented on #9
Closing due to inactivity.

[2020-04-21 09:56] #9 closed

[2020-04-28 04:36] mctrafik opened #62 "expect-webdriverio and webdriverio with typescript = > Unexpected return from a matcher function."
Good day.

I have no idea where things are failing, but I'm unable to use expect assertions.

My packages:

[code]

I'm using jest and typescript. In my tsconfig:

[code]

And in my jestconfig:

[code]

My test code contains:

[code]

And this fails!

Error:

[code]

What's happening here and how do I fix it?

[2020-04-28 10:27] christian-bromann commented on #62
Have you tried:

[code]

[2020-04-28 17:43] mctrafik commented on #62
I tried as a sanity check, but it doesn't and shouldn't help at all.
Function toBeFocused() has an "undefined" return type. And event if it was a Promise, the error happens before toBeFocused() has a chance to return anything.

[2020-04-28 17:49] mgrybyk commented on #62
@mctrafik can you please update to the latest version 1.1.5 ?

[2020-04-28 18:10] mgrybyk commented on #62
![image](https://user-images.githubusercontent.com/25589559/80522070-3ffa0c80-898c-11ea-9b8d-6f210f8b3c3a.png)

[2020-04-28 18:25] mctrafik commented on #62
Updated to 1.1.5 Same issue. :(

@mgrybyk Can you tell me which wdio and jest versions you used?

[2020-04-28 18:36] mctrafik commented on #62
My code base is on jest 22. I know we couldn't upgrade to 25, but I tried 23.6.0 and it works now.

Maybe you can list in the readme that Jest@^23 is required?

[2020-04-28 18:39] #62 closed

[2020-04-28 18:47] mgrybyk commented on #62
@mctrafik will do, thank you!

[2020-04-30 16:53] fertavora opened #65 "toHaveChildren throws error 'serializes to the same string'"
Hi all!
I am checking out webdriverio 6 and I got an error using `toHaveChildren`
[code]
However when using `toBeElementsArrayOfSize` instead it works fine, according to the docs it is _Same as toHaveChildren_.
`expect(StoreHomePage.productCards).toBeElementsArrayOfSize({ eq: 9 });` works fine
`expect(StoreHomePage.productCards).toHaveChildren({ eq: 9 });` fails
`StoreHomePage.productCards` is `$$

[2020-06-02 09:58] woolter opened #94 "Error with $ tsc"
When I run `tsc` 5 errors are found

[code]

**Dependencies**
[code]

**tsconfig.json**
[code]

[2020-06-23 16:01] christian-bromann opened #103 "Add `toHaveUrlContaining` and `toHaveTitleContaining` matcher"
Since we already have `toHaveTextContaining` it would be nice to also have such a matcher for urls. Given that we have `toHaveText` and `toHaveTextContaining` we should follow this pattern for `toHaveTitle` and `toHaveUrl` as aliases to e.g. `toHaveTitle("foobar", { containing: true })`.

[2020-06-24 05:17] mathew-jithin commented on #103
Would like to work on this!

I think it should be in the same format as mentioned and already present in the repo?

[2020-06-24 07:45] christian-bromann commented on #103
What do you mean by that?

[2020-06-24 08:03] mathew-jithin commented on #103
@christian-bromann Actually I had a bit of doubt on the detailing on this change.

We need the functionality to be similar to the existing ones, like **toHaveText** and **toHaveTextContaining** right?

[2020-06-24 08:08] mgrybyk commented on #103
@mathew-jithin take a look how existing *Containing are implemented. It should be just couple lines of code.
Please don't forget to add it to types definition file

[2020-06-24 08:11] mathew-jithin commented on #103
@mgrybyk Sure. Thanks a lot!

[2020-06-25 17:52] mathew-jithin commented on #103
@christian-bromann @mgrybyk Added a pull here: https://github.com/webdriverio/expect-webdriverio/pull/104 Have a few doubts. Adding the same there too.

[2020-06-25 18:05] christian-bromann commented on #103
Awesome! Let's continue convo there.

[2020-06-25 18:05] #103 closed

[2020-06-27 19:09] sdedios opened #105 "Expose utility methods to enable external contribution of additional custom matchers."
I have a couple of matchers that I've already created for the Chai version of webdriver.io expects that I'd like to move over to the Jest-style matchers as I port to this framework.  The problem is that some of them might not make sense to be part of this core library and over time a monolithic package probably isn't the best idea anyways.

Would it be possible to expose a some of the existing cus

[2020-06-28 08:23] christian-bromann commented on #105
@sdedios this makes totally sense. Feel free to provide a PR for this.

What additional matchers do you already have. I am sure some of them are very useful to others too and could be added to the core lib. What do you think?

[2020-06-29 10:35] christian-bromann opened #106 "Support for Multiremote"
Allow users to use this assertion library with multiremote. Using the `isMultiremote` flag of the `browser` object should help to determine the current mode and allows to then iterate over the multiremote instances to do separate assertions.

[2020-06-30 22:35] klamping opened #113 "toHaveProperty conflicts with original Expect assertion"
`toHaveProperty` exists in both this library and the core ExpectJS package:
https://webdriver.io/docs/api/expect.html#tohaveproperty
https://jestjs.io/docs/en/expect#tohavepropertykeypath-value

This means you can't use the core ExpectJS assertion, because the WDIO one in this package overwrites it.

Not really sure on a good solution. Maybe add a check in the custom matcher to see if it's an Obje

[2020-07-29 15:46] mgrybyk commented on #113
We can save builtin matchers before overwriting them similar to what puppeteer guys did https://github.com/smooth-code/jest-puppeteer/blob/master/packages/expect-puppeteer/src/index.js#L89

[2020-08-15 19:39] marklagendijk opened #150 "Move into WebdiverIO"
I think this module is must-have for writing nice web tests with WebdriverIO.
I stumbled upon this module when I read the release notes for WebdriverIO 6, and otherwise wouldn't have known about it.

Is there a specific reason why this was made as a separate module, instead of being bundled directly in WebdriverIO? Are you planning on bundling it with WebdriverIO in the future?

I believe that bun

[2020-08-17 17:51] klamping commented on #150
Starting in WebdriverIO V6, this package comes bundled in the main install. If you're using the test runner, you don't need to do anything else to use this package :)

[2020-08-18 13:17] marklagendijk commented on #150
Awesome! I didn't know that. I see that it is even included properly in the [documentation](https://webdriver.io/docs/api/expect.html)

[2020-08-18 13:17] #150 closed

[2020-08-24 11:22] mgrybyk commented on #94
@woolter can you please try in the latest version?

[2020-08-24 11:32] mgrybyk opened #167 "expect matchers return type is not a Promise in async mode"
### Environment

**`expect-webdriverio` version**: 1.2.3
**WebdriverIO version**: 6.4.1
**Test Framework**: mocha (jest/jasmine/mocha/cucumber/etc)
**async/sync**: async (is `@wdio/sync` used? - No)

### Description
expect matchers return type is not a Promise

![image](https://user-images.githubusercontent.com/25589559/91039688-4da76200-e60d-11ea-83e5-0e2b2cd5dea2.png)

### Additional Information

[2020-08-24 14:53] mgrybyk commented on #113
I'd rename `toHaveProperty` to what @klamping suggested:
- `toHaveHtmlProperty`
- `toHaveElementProperty`
- `toHaveNodeProperty`

Same issue with `toHaveClass` in jasmine https://jasmine.github.io/api/edge/matchers
Do you have any naming suggestions? I guess `toHaveElementClass` might work

The point why I'd go with renaming is that we have to deal with types as well. Taking into account overall c

[2020-08-24 14:54] mgrybyk commented on #167
I believe this one should be fixed by https://github.com/webdriverio/expect-webdriverio/pull/122

I guess we should release `expect-webdriverio` to have it @christian-bromann ?

[2020-08-24 16:05] christian-bromann commented on #167
@mgrybyk yeah, it seems we missed to release.

Would you mind releasing a new version?

[2020-08-24 16:08] christian-bromann commented on #113
I would vote to rename to `toHaveElementProperty` and `toHaveElementClass`.

I am a bit afraid that this could break tests if we just release it as minor/patch in WebdriverIO. On the other side I don't feel like such a chance should trigger a major WebdriverIO release and confuse people. Any suggestions?

[2020-08-24 17:10] mgrybyk commented on #113
We can rename these two and leave existing ones for 3 months or so, and also print deprecated message to force users using new renamed methods.
Additionally Id like to have some test to prevent similar situation in future

[2020-08-24 18:27] christian-bromann commented on #113
Yes to both 👍

[2020-08-27 16:43] mgrybyk commented on #167
may you please help to release it? My local environment is not configured for that, don't want to mess up with something

[2020-08-28 09:08] christian-bromann commented on #167
I released `v1.3.0`

[2020-08-28 09:08] #167 closed

[2020-08-30 07:53] juhana opened #168 "Negating tests with .not doesn't work"
Tests with .not negation don't work correctly, the end result is the testrunner always receiving `undefined` and then failing the test. This seems to happen with all methods. The result is the same in both sync and async modes.

Test case:

[code]

Output:

[code]

[2020-08-30 09:44] mgrybyk opened #169 "Fix toBeRequestedTimes and toBeCalled"
`not` matchers [got broken](https://github.com/webdriverio/expect-webdriverio/issues/168) since https://github.com/webdriverio/expect-webdriverio/pull/133

The fix https://github.com/webdriverio/expect-webdriverio/pull/170 breaks `toBeRequestedTimes` and `toBeCalled` matchers. At least tests are failing.

Marked failed tests as skipped https://github.com/webdriverio/expect-webdriverio/pull/170/com

[2020-08-30 11:22] mgrybyk opened #171 "Matchers types are missing with .not"
### Environment

**`expect-webdriverio` version**: 1.3.0
**WebdriverIO version**: 6.4.1
**Test Framework**: mocha (jest/jasmine/mocha/cucumber/etc)
**async/sync**: sync (is `@wdio/sync` used? - Yes)

### Description
1. `expect(section).not.toHaveClass('page2')`

`Property 'toHaveClass' does not exist on type 'Matchers<Element>'`

### Additional Information

Looks like a regression since https://gi

[2020-08-30 11:37] mgrybyk commented on #171
should be fixed with the PR

[2020-08-30 11:37] #171 closed

[2020-08-30 17:02] mgrybyk commented on #113
Should be fixed with the PR

[2020-08-30 17:02] #113 closed

[2020-08-30 22:33] mgrybyk commented on #168
Let's proceed convo in the PR https://github.com/webdriverio/expect-webdriverio/pull/170

[2020-08-30 22:33] #168 closed

[2020-08-30 22:43] mgrybyk commented on #65
@fertavora @vbyjsue there was a mistake in the doc.
`toBeElementsArrayOfSize` is used to check items in the elements array (`$$('ul>li')`).

While `toHaveChildren` is used to check children amount of the element (`$('ul')`).

Example
there is a list with 3 items
[code]
We pass element that is a parent of `li` items to `toHaveChildren` matcher:
* `expect($('li')).toHaveChildren(3)` or `expect($('li

[2020-08-30 22:43] #65 closed

[2020-08-30 22:55] mgrybyk commented on #7
@sergiocabreraoriaret can you please try in the latest version? I guess the issue has been fixed

[2020-08-30 23:15] mgrybyk commented on #169
Fixed tests with https://github.com/webdriverio/expect-webdriverio/pull/170

[2020-08-30 23:15] #169 closed

[2020-09-02 10:12] vgrigoruk opened #182 "Do not output `Warning! Unsupported expect lib is used` to console"
I've upgraded `webdriverio` & all used `@wdio/*` package dependencies to v6 on a projects which also uses `chai` for `expect(...)` matchers. Now, when I run tests, I see the following in STDOUT for each spec file that is executed:

[code]
I was first confused to see this, as I don't have `expect-webdriverio` defined as a dependency in `package.json`. But then I noticed it is enabled by default now

[2020-09-02 10:15] christian-bromann commented on #182
See https://github.com/webdriverio/expect-webdriverio/blob/21d261f861e9ae5653e187e0d0987e4c4b3c1e93/src/addMatchers.ts#L28-L36 .. I don't think there is a chance to suppress this. I suggest to introduce an environment variable to suppress the warning and mention that environment in there.

I also would recommend to replace chai with `expect-webdriverio` 😉

[2020-09-02 10:38] vgrigoruk commented on #182
Although I really like `expect-webdriverio`, replacing `chai` with it doesn't sound like a viable solution for me at the moment (we've developed an internal library of chai matchers specifically for webdriverio browser tests, which are used in every single spec).

[2020-09-02 12:11] mgrybyk commented on #105
@sdedios can you share the matchers you have so that we can improve matchers?

Regarding your question, the methods you've mentioned are exported and can be imported.

Let me know if you have any issues with that

[2020-09-02 12:15] mgrybyk commented on #33
Can you please add some more details?

The assertion lib should send some event to the wdio reporter, then specific reporter (ex allure) can listen for such events and add assertions like steps?

[2020-09-02 17:22] Xotabu4 commented on #182
I think there might be good idea to have config key for such cases like
[code]

[2020-09-04 08:19] mgrybyk opened #183 "Add types for toBeRequested matchers"
Add types for mock matchers

[2020-09-04 08:57] mgrybyk opened #184 "Implement toBeRequestedWith matcher"
Let's implement a new matcher that works this:

[code]

[code]

[2020-09-04 09:12] mgrybyk opened #185 "Add docs on how to use network matchers"

[2020-09-04 10:19] mgrybyk opened #186 "Combine toBeRequestedWith and toBeRequestedWithResponse"
Merge `toBeRequestedWithResponse` with [toBeRequestedWith](https://github.com/webdriverio/expect-webdriverio/issues/184)
[code]

[2020-09-04 10:20] mgrybyk opened #187 "toBeRequestedWithResponse partial match support"
`toBeRequestedWithResponse` should support `{ containing: true }` and/or a function comparator
[code]

[2020-09-04 10:35] mgrybyk opened #188 "toBeRequested matcher wrong error message"
**Environment**
**`expect-webdriverio` version**: 1.3.1
**WebdriverIO version**: 6.4.4
**Test Framework**: mocha (jest/jasmine/mocha/cucumber/etc)
**async/sync**: sync (is `@wdio/sync` used? - Yes)

**Steps to reproduce**
[code]

**Actual Result**
[code]

**Expected Result**
similar to how `toHaveChildren` matcher works
[code]

[2020-09-07 08:46] mgrybyk opened #189 "toBeRequested mocks wait for calls to decrease"
[code]
it doesn't make sense to wait for `mock.calls` length to decrease.

**Actual Result**
waiting `mock.calls` length to decrease which makes no sense

**Expected Result**
should not wait

[2020-09-08 19:23] shiskr commented on #65
@mgrybyk
Suppose there is a list with 3 different items

ul
   li
   div
   img
We pass element that is a parent of li items to toHaveChildren matcher:

expect($('ul')).toHaveChildren()
This should work, right??
Just confirming.

[2020-09-09 01:05] #184 closed

[2020-09-09 01:05] #187 closed

[2020-09-09 01:05] #186 closed

[2020-09-09 01:16] mgrybyk commented on #65
Yes, as soon as ul has at least one child element of any tag type.

Let me know if you have any issues with it

[2020-09-09 12:31] mgrybyk opened #198 "expect should not be a required dependency"
* `expect` is only required for `expect-webdriverio` to work with Mocha / CucumberJS test frameworks out of the box in `webdriverio`.
* `expect` is not a required dependency for `expect-webdriverio` used in the Jasmine framework.

Ideally, `expect-webdriverio` should install `expect` depending on if Jasmine/Jest installation however it's not currently possible.

[2020-09-09 13:11] mgrybyk opened #199 "Implement type check for toBeRequestedWith matcher"
Let's make sure the matcher was called with supported parameters, fail fast otherwise.

There should be no need in [`console.error`](https://github.com/webdriverio/expect-webdriverio/pull/197#discussion_r485578307) usage.

[2020-09-10 23:30] #185 closed

[2020-09-11 00:04] #183 closed

[2020-09-12 17:35] #94 closed

[2020-09-12 17:35] #7 closed

[2020-09-12 17:36] #105 closed

[2020-09-12 17:39] mgrybyk opened #203 "Implement toHaveStyle matcher"
Example
[code]

according to https://github.com/webdriverio/expect-webdriverio/issues/105

Please also add:
- types
- docs
- unit tests

[2020-09-12 17:52] mgrybyk commented on #182
@vgrigoruk @Xotabu4 feel free to raise a PR to webdriverio to add the config key.
Might be easier to add `disableExpectWebdriverio` just not to mess up with the default values.
It should be done for all 3 test frameworks https://github.com/webdriverio/webdriverio/blob/master/packages/wdio-mocha-framework/src/index.js#L95

Alternatively, we can add some env variable to suppress the message

[2020-09-12 18:53] #188 closed

[2020-09-12 18:57] #189 closed

[2020-09-13 22:57] mgrybyk opened #205 "Replace headers filter with request and response headers"
The response headers object is about to be added to `request` with https://github.com/webdriverio/webdriverio/pull/5821

Let's replace `headers` filter with `requestHeaders` and `responseHeaders`.

[2020-09-13 23:36] mgrybyk commented on #205
doc updated separately to avoid conflicts https://github.com/webdriverio/expect-webdriverio/pull/201

[2020-09-13 23:58] #205 closed

[2020-09-27 07:07] suniljaiswal01 opened #216 "Unable to compile project in Windows"
I have taken the latest pull from the master branch. I am getting Complication error when i run "npm run build" command.
Could anyone please help me resolve this issue?, i want to start doing contribution to this project.
Below is the screenshot of the issue:

![image](https://user-images.githubusercontent.com/45997477/94358369-1c173000-00be-11eb-9330-532bde3bcf4d.png)

[2020-09-27 07:26] mgrybyk commented on #216
What is you widows full version?

[2020-09-27 08:09] mgrybyk commented on #216
Just tested in Microsoft Windows 10 Pro, Version	10.0.19041 Build 19041
`node v12.18.3`
`npm 6.14.8`
works fine.
Closing the issue as far as it's not related to functionality and looks like some Windows environment issue.
Feel free to ask any further questions.

[2020-09-27 10:37] suniljaiswal01 commented on #216
@mgrybyk  Just tested in Microsoft Windows 10 Pro, Version 10.0.15063 Build 15063, but still getting the issue.
Following is the steps i followed:

1. Cloned the project
2. ran npm install command
3. ran npm run build command.

Is there any additional steps that need to be followed?

[2020-09-27 10:43] mgrybyk commented on #216
Try upgrading Windows. The issue is not related to the expext-webdriverio but to typescript compiler. Look for the answer there.
Make sure you have nodejs 12 or later

[2020-09-27 10:43] #216 closed

[2020-10-05 16:25] mgrybyk opened #227 "Add soft assert support"

[2020-10-05 16:32] christian-bromann commented on #227
What does soft assert support mean?

[2020-10-05 17:00] mgrybyk commented on #227
A way to do multiple assertions within test then throw all the failed assertions in when the test ends.
By test I mean, for example, `it` block for mocha.

I'll add proper description of course, but a bit later

[2020-10-13 07:52] kirill-konshin opened #237 "Matchers require global browser"
Matchers require global `browser`, but imagine I have 2 or more browsers, how to get around it?

https://github.com/webdriverio/expect-webdriverio/blob/master/src/matchers/element/toHaveElementClass.ts#L40

`browser` var is obviously global... need to have a way to supply custom browser...

[2020-10-13 08:02] mgrybyk commented on #237
What is the use case for this?

[2020-10-13 08:06] kirill-konshin commented on #237
Two browser windows? Chat app, or any kind of end to end testing with realtime communication.

[2020-10-13 08:08] mgrybyk commented on #237
Are you taking about multiremote?

[2020-10-13 10:16] kirill-konshin commented on #237
I'm talking about `BrowserObject`:

[code]

After all, making it global fixed the issue.

[2020-10-13 10:24] mgrybyk commented on #237
Ah, I see, it's standalone mode.

Mind rising a PR to fix it?

[2020-10-13 10:36] kirill-konshin commented on #237
I'm not quite familiar with codebase, but I assume something like this would work?

[code]

Or extend `StringOptions`:

[code]

But then you'll have to have a type for all functions where `browser` might be passed.

[2020-11-06 18:34] alfonso-presa commented on #227
@mgrybyk, I just made this https://github.com/alfonso-presa/soft-assert (because we need something similar for long and expensive cucumber tests) and I though it might cover your needs. It's assertion and test-harness library agnostic, so it might fit well. A little bit more verbose than having it built in the assertion library though. Sorry for the advertising....

[2020-11-18 12:59] lacell75 opened #274 "Support for multiple strings in toHaveText / toHaveTextContaining APIs"
Could you add support for multiple possible strings in toHaveText / toHaveTextContaining APIs? see example below:
`expect(...).toHaveText(['string1', 'string2'])`

[2020-11-18 13:15] christian-bromann commented on #274
@lacell75 feel free to take a stab at it, let me know if you have any questions.

[2020-12-10 15:30] #274 closed

[2020-12-29 23:06] ashwinjk opened #309 "toHaveValue in appium"
When using appium for testing ios safari

[code]

The following check fails

`expect($('#search')).toHaveValue('');`

with error

`Method has not yet been implemented"`

and from appium log
[code]

However the same test passes when

`expect($('#search')).toHaveAttribute('value', '');`

It seems to be related to the issue brought up here
https://github.com/webdriverio/webdriverio/pull/3606

[2020-12-29 23:36] christian-bromann commented on #309
@ashwinjk you can't call this command with Appium as it is not supported in a native mobile context. It only works in a web context. I am not sure what you are trying to do but you should use a [command](https://webdriver.io/docs/api/appium.html) that is supported for this environment.

[2020-12-29 23:36] #309 closed

[2020-12-30 21:36] ashwinjk commented on #309
@christian-bromann , let me explain. This is for testing a web page where a input box value is verified

this `expect($('#search')).toHaveValue('');` fails with error posted in the original description

this `expect($('#search')).toHaveAttribute('value', '');` passes OK

from the look of it, it seems to be very similar to the property vs attribute issue raised in webdriverio/webdriverio#3606

[2020-12-31 12:49] christian-bromann commented on #309
I understand the issue. My statement is still valid. You can't call certain WebDriver commands in native mobile contexts. For example, there is no way to call the `execute` command because there is no JavaScript environment in a native mobile context you can inject JavaScript into. The same applies for the `getProperty` command.

[2021-01-13 07:57] jamesmortensen opened #320 "Bug in expect.toHaveChildren - It is returning 4 when we expect 31"
[//]: # NOTE: This repository only maintains packages that are listed in the [Readme](https://github.com/webdriverio/webdriverio/blob/master/README.md#packages). Please make sure that your issue is directly caused by one of these packages and if not file an issue in the correct 3rd party package repository.

**Environment (please complete the following information):**
 - **WebdriverIO version:**

[2021-01-13 09:42] jamesmortensen commented on #320
https://github.com/webdriverio/expect-webdriverio/blob/master/src/matchers/element/toHaveChildren.ts

https://github.com/webdriverio/expect-webdriverio/blob/master/src/matchers/elements/toBeElementsArrayOfSize.ts

Was just looking at both of these and they don't look like synonyms of each other as implementations are different.  Hope it helps.

[2021-01-20 08:58] mgrybyk commented on #320
It's a typo in the docs, these two methods are different.
See https://github.com/webdriverio/expect-webdriverio/blob/master/docs/API.md#tohavechildren

I'll update docs in webdriverio as well.

Do you have any other question @jamesmortensen ?

[2021-01-20 09:03] #320 closed

[2021-01-20 11:14] jamesmortensen commented on #320
No further questions.  Thanks for the clarification.

[2021-02-02 20:33] DerekCL commented on #106
Also having the same issue

Error: Unexpected return from a matcher function.
Matcher functions should return an object in the following format:
  {message?: string | function, pass: boolean}
'[{"message": [Function message], "pass": true}]' was returned
    at _validateResult (C:\work\presidio\r_n_d\CanIChime\node_modules\expect\build\index.js:389:11)
    at processResult (C:\work\presidio\r_n_d\

[2021-02-03 16:49] DerekCL commented on #106
@christian-bromann Is there a workaround you would recommend for right now? Currently I have a solution that works with chai that looks like this

`
const expectChai = require('chai').expect;

export const messageDevices = (
  selector: $Params = '#form-devices h1',
): Promise<Element> => {
  return $(selector);
};

const test = async () => {
    const messageDevicesElement = await messageDevices(

[2021-03-15 06:24] jamesmortensen opened #371 "expect(elem).toBeElementsArrayOfSize gte behaves as strict equals instead of greater than or equal"
[code]

The above line, when checking that the array is greater or equal than 3, fails if it gets a number greater than 3.  In this example, our `sessionCountListBeforeCleanUp` variable is of size 4.

The below output seems to contradict itself, since a value of 4 is indeed greater than or equal to 4.

[code]

While we would love to have a strict equals version of this, the gte behavior does not s

[2021-03-24 08:44] christian-bromann opened #383 "Support of custom error messages"
While updating the Cucumber boilerplate I recognise that the expect-webdriverio lib doesn't allow for customer error messages like

[code]

The definition of the expect dependency (`node_modules/expect/build/types.d.ts`) is as follows:

[code]

[2021-03-30 10:22] christian-bromann opened #392 "Deprecate old v5 commands"
We still allow for `toBeVisible` and other v5 commands which should be deprecated.

[2021-04-06 15:13] christian-bromann opened #397 "Allow text options for `toHaveText` or `toHaveTextContaining`"
I just ran into the following error message:

[code]

I suggest to allow options for `toHaveText` and `toHaveTextContaining` to strip text from the result. These options should be default `true` as I believe there are more scenarios where you want to strip it rather than keep it.

[2021-04-08 22:59] mathew-jithin commented on #397
@christian-bromann Please have a check:

https://github.com/webdriverio/expect-webdriverio/pull/398

[2021-04-09 07:15] christian-bromann commented on #397
Thanks for taking a stab at it, let's continue convo in the PR.

[2021-04-09 07:15] #397 closed

[2021-04-23 22:42] thiagoaslima opened #410 "toHaveTextContaining not working on async mode"
`toHaveText` and `toHaveTextContaining`  do not get the element text correctly

[code]

The assertions should be equivalent, but actually, the second resolves to false.

[code]

[2021-04-24 09:22] christian-bromann commented on #410
@thiagoaslima if you use async mode you need to put `await` in front of the `expect`, e.g.:
[code]
Let me know if you have further questions.

[2021-04-24 09:22] #410 closed

[2021-04-25 06:53] thiagoaslima commented on #410
@christian-bromann Sorry. As it wasn't working, I've tried without the await and sent you the wrong version.
Anyways, I see the same behavior. The test fails with the expected value read as undefined.

[code]

As you can see, the driver asserts it 3 times, always with `passed: undefined`

[code]

[2021-05-13 19:37] mathew-jithin commented on #392
@christian-bromann Can you please details what needs to be done here? Can pick this up.

[2021-05-14 04:37] evilC commented on #106
@christian-bromann is there any movement on this?
If not, what's the blocker? Is it something you don't know how to solve, or is it just a case of bandwidth?
I'm pretty certain that it's beyond my abilities to fix, but I may be able to persuade my employer to throw some man hours at this

[2021-05-14 08:20] christian-bromann commented on #106
That would be idea, see the `help wanted` label 😉

[2021-05-14 09:19] christian-bromann commented on #392
I think the only matchers are really just `toBeVisible`, `toBeVisibleInViewport`

[2021-05-14 19:24] mathew-jithin commented on #392
@christian-bromann Made this change. Please review: https://github.com/webdriverio/expect-webdriverio/pull/433

[2021-05-17 08:26] #203 closed

[2021-05-18 12:46] sbley commented on #410
Should this be reopened then?
I noticed the same behavior as the issue creator.

[2021-05-18 12:59] christian-bromann commented on #410
@sbley if you are using `jasmine` make sure to use [`expectAsync`](https://jasmine.github.io/api/3.7/async-matchers.html)

[2021-05-18 13:02] sbley commented on #410
That did the trick, thank you!

[2021-05-22 17:28] Harry-Liversedge opened #438 "toHaveAttribute type checking"
Inside of toHaveAttribute the condition is:

[code]

Which means that a test like this would pass

[code]

Is this the expected behaviour because surely this implies that passing in any non-string value as the expected would result in a success which seems like confusing behaviour to me?

[2021-05-25 06:46] christian-bromann commented on #438
@Harry-Liversedge I believe the reason for this is to allow assertions of flag attributes, e.g.:

[code]
so that the following can done:
[code]
You are right though that it is not the intention to have something pass the assertion just because it is not a string. I am sure we can be more strict here. Any contributions are welcome!

[2021-05-27 07:43] Harry-Liversedge commented on #438
@christian-bromann Ahh I see that makes sense now, I was trying to write some tests for toHaveAttribute and spotted this. Realized there is quite a few test files to write so I might separate that out and make a new branch with just tests for toHaveAttribute and add this check.

I am thinking it should only return true if the second argument is not present? Think can be stricter on the inputs to t

[2021-06-07 15:15] praveendvd opened #462 "Assertions are thrown twice"
**In jasmine framework this throws two assertions :**

[code]

**This can be validated by :**

**Adding below to config file:**

[code]

**This gives below outputs:**

[code]
**And the allure report looks like:**

![image](https://user-images.githubusercontent.com/45095911/121040323-b8471a00-c7a9-11eb-9c33-2d28191770c1.png)

**Do anyone knows how to avoid this ?**

**Reproducible example:**

[webd

[2021-06-07 15:30] christian-bromann commented on #462
This error might also be related to the Allure reporter specifically. Anyway any contribution to this is welcome and appreciated.

[2021-06-07 15:32] praveendvd commented on #462
I think this is caused due to the enhanceMessage method that adds more descripte error and throws the error again

[2021-06-07 17:52] praveendvd commented on #462
issues was due to error in one of the import in config , closing the issue

[2021-06-07 21:48] #438 closed

[2021-06-07 21:57] praveendvd commented on #462
@christian-bromann could you please help me out to know how to install this library from source ,

Nom build is giving me error like statement is expected .

Could you let me know the order in which the npm scripts  commands needs to be executed?

[2021-06-07 22:14] christian-bromann commented on #462
Please check out our [contribution guidelines](https://webdriver.io/docs/contribute) for the main WebdriverIO project.

[2021-06-18 16:07] praveendvd commented on #462
@christian-bromann

![image](https://user-images.githubusercontent.com/45095911/122588977-9c6c2f80-d057-11eb-8f5e-9c3a2b5bea5e.png)

Removing this line  from jasmine.js  fixes the issue ,

[2021-06-18 16:12] praveendvd commented on #462
this is inside jasmine-core/jasmine , is it core jasmine file or webdriverio plugin

[2021-06-18 16:15] praveendvd commented on #462
![image](https://user-images.githubusercontent.com/45095911/122589962-d12cb680-d058-11eb-9417-87641cb9d1b0.png)

[2021-06-20 09:15] #392 closed

[2021-06-23 05:29] kishan-patel13 commented on #167
@christian-bromann, I am using `v2.0.1` and still facing the same issue
**"expect matchers return type is not an Promise in Async mode"**
I'm using webdriverIO with async mode

#### pacakges:
- expect `v26.6.2`
- expect-webdriverio `v2.0.1`
- @wdio/mocha-framework `v7.3.0`
- webdriverio `v.7.3.0`
- wdio-chromedriver-service `v7.0.0`
- chromedriver `v90.0.1`

I have also tried by upgrading the vers

[2021-06-23 05:57] mgrybyk commented on #167
The expect webdrverio is integrated to webdriverio since v7.
Most likely you haven't upgraded or installed packages correctly, and your package lock json file is now broken.
Remove expect and expect webdriverio from from package json, try reinstalling packages from scratch

[2021-06-23 07:26] kishan-patel13 commented on #167
Thanks @mgrybyk for the reply,

I have performed following steps as you suggested:
- Removed the expect and expect-webdriverio from package.json
- Removed the package-lock.json and node_modules folder
- Re-install node packages

Still facing the same issue

#### Screenshots
- VS Code suggestion
![image](https://user-images.githubusercontent.com/65718497/123053981-0e5ec300-d422-11eb-8fe2-d057763295

[2021-06-23 07:39] mgrybyk commented on #167
The types looks up to date. I think I got your point now

[2021-06-26 08:03] praveendvd commented on #462
@christian-bromann  I have created a pull request for this , thank you ☺️

[2021-07-03 13:03] bad-white-cat opened #488 "Async matchers have incorrect typings"
**Environment (please complete the following information):**
 - **WebdriverIO version:** 7.7.4
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunner, running sync/async:** async
 - **Node.js version:** 14.17.1
 - **NPM version:** 6.14.13
 - **Browser name and version:** Chrome 91
 - **Platform name and version:** e.g. Windows 10
 - **Additional wdio packages used (if applicable):** "@wdio/mocha-fra

[2021-07-05 21:51] TuxedoFish commented on #371
I am working on this error 👍 : https://github.com/TuxedoFish/expect-webdriverio/tree/fix-number-comparison

Think there was some issues with how the matcher was working but I am trying to simplify the number comparison logic at the same time, to make it easier to add new matchers at the same time. For a strict equals I believe you can use "eq" or is it the lack of a ">" and "<" operator which woul

[2021-07-08 20:34] amandaflagg commented on #106
@evilC i have been able to work around this with my current setup i have been building out, which involves defining each browser separately for tests. for example at the top of a test file, i have the following in order to use multiremote with two different instances of chrome:
`declare const mobileChromeBrowser: WebdriverIO.MultiRemoteBrowser['mobileChromeBrowser'];
declare const chromeBrowser: W

[2021-07-12 08:05] christian-bromann commented on #106
@amandaflagg it would be however also nice to be able to make assertion for one command on both browsers, e.g.:

[code]

Maybe we can even allow a fancier syntax like:

[code]

[2021-07-12 09:04] christian-bromann commented on #371
@TuxedoFish thanks for helping fixing the issue, let's continue convo in the PR.

[2021-07-12 09:04] #371 closed

[2021-07-12 09:40] christian-bromann commented on #488
Yes, I believe the types are not strict enough, thanks for raising the issue. Any contributions are appreicated.

[2021-07-18 08:11] #462 closed

[2021-08-06 17:43] dietergeerts opened #512 "Support for array matchers, similar like the `some` method, but for use with `expect`"
This would be awesome, so that we don't need to apply multiple transformations and calculations, and having no good error feedback when the expect fails.

[2021-08-07 09:21] christian-bromann commented on #512
@dietergeerts can you provide an example?

[2021-08-16 07:30] dietergeerts commented on #512
I have written the following helper:
[code]
And used it like:
[code]
So basically, the methods that work on a single element, like `isSelected`, I would like to see a version that works on an array of elements, so I don't need to write my own helper methods, because with my own helpers, I don't have nice error messages from the test framework.  _(I could extend expect myself, but I think they can

[2021-08-16 12:38] christian-bromann commented on #512
How do you think these matchers should be named?

[2021-08-18 06:12] dietergeerts commented on #512
🤔 , when we compare with `isSelected` for a single element, which is `toBeSelected`, we could have:
- `toBeAllSelected` _(`toBeEverySelected` doesn't sound that natural to me, though in util libraries like Lodash, this is what's used a lot for checking if a list of items all match)_
- `toBeSomeSelected`

Because webdriver-io itself doesn't have functions for getting the selection state of all elem

[2021-08-18 07:24] christian-bromann commented on #512
How about we modify matchers such as `toBeSelected` to detect if the provided object is an array of elements and if so the matcher checks if all elements are selected. That would be easily applicable to `toBeExisting`, `toBeDisplayed` etc., for example:

[code]

To enable the other use case of checking if just some are selected we could use a `partial` parameter to the matcher. This parameter woul

[2021-08-23 07:09] dietergeerts commented on #512
It wouldn't be bloat, unless you think of bloat as just more matchers. Imho, it's better to have more matchers if they make things more clear than having less matchers where there can be confusion in what they can handle. `toBeSelected` could work for an array of elements, but does that mean all/every or some of them? Of course, some things can be re-used internally, but to the outside, it will be

[2021-08-23 09:25] christian-bromann commented on #512
@webdriverio/project-committers and @mgrybyk any suggestions?

[2021-08-23 21:11] TuxedoFish opened #530 "Tests for the waitUntil function (discussion wanted)"
I was thinking about adding some test cases for the waitUntil function. A couple of conditions here failed, for example:

"waitUntil › positive condition › should fail if isNot is true".

In this case:
- The condition is returning true
- isNot is set to true

In my mind it makes sense that you are waiting for the condition to be failing in this test case. So therefore you should expect the result

[2021-08-23 21:38] TuxedoFish commented on #488
@christian-bromann I'd be happy to look into this. I'll investigate it a bit more to double check any unintended consequences but seems like a minor change to the matchers 👍 . Are you able to assign me to this issue?

[2021-08-24 07:13] christian-bromann commented on #530
Every additional unit test is worth adding.

[2021-08-31 09:49] christian-bromann commented on #488
@TuxedoFish any progress? We should also ensure that matchers are properly types when someone uses Jasmine and `expectAsync`.

[2021-09-01 06:57] TuxedoFish commented on #488
I was struggling a little bit to test it and I was thinking of using a test repository and then linking the repository to test it out. Is there a test repository I can fork?

[2021-09-01 09:29] christian-bromann commented on #488
You can pick one of the [boilerplate projects](https://webdriver.io/docs/boilerplates) or just bootstrap something via `npx wdio ./test` and pick TypeScript in the config wizard.

[2021-09-05 05:44] TuxedoFish commented on #488
Hmm okay so I have created two tests with `npx wdio ./test` for jasmine + mocha. After updating the types in `expect-webdriverio.d.ts` I linked the repo and ran the tests but still observed the bug behaviour,

So then I thought maybe it was something to do with the expect adapter after looking at this codesandbox so I added in the async keyword to the runExpect. I found something like this being d

[2021-09-06 19:18] elaichenkov opened #544 "[BUG] The matchers aren't working with jasmine framework"
### Environment:

WebdriverIO version: 7.10.1
Mode: WDIO Testrunner
If WDIO Testrunner, running sync/async: async
Node.js version: v15.12.0
NPM version: v7.6.3
Browser name and version: Chrome 92
Platform name and version: e.g. MacOs Big Sur
Additional wdio packages used (if applicable): "@wdio/jasmine-framework": "^7.11.0"

### Config of WebdriverIO
[code]

### Describe the bug
The matchers aren'

[2021-09-06 19:59] christian-bromann commented on #544
Please use `expectAsync`, we have discussed some options here: https://github.com/webdriverio/webdriverio/pull/6855#issuecomment-841119109 but haven't found a solution yet.

[2021-09-30 19:52] PavithraRavichandran commented on #7
I face this issue when I use the chai assert in the end of my test and assert fails. When I write test as a positive one, then my test exists.
mochaOpts: {
        ui: 'bdd',
        require : ['@babel/register'],
        timeout: 60000
    },

[2021-10-23 17:00] nonopolarity opened #585 "[💡 Feature]: RegExp support for `toHaveTextContaining()`"
### Is your feature request related to a problem?

[code]

### Describe the solution you'd like.

[code]

### Describe alternatives you've considered.

_No response_

### Additional context

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-10-28 07:35] muhserks opened #586 "toHaveChildren broken"
Hi,

I recently updated from WDIO@7.9.0 to WDIO@7.16.3 and now toHaveChildren does not work at all anymore.

`expect(this.myList).not.toHaveChildren();`
Results in:
[code]

`expect(this.recipientToList).toHaveChildren(0);`
results in:
[code]

`expect(this.myList).not.toHaveChildren(0);`
This does not even throw an error, even tough the element has no childrens.

According to the wdio docs, all cal

[2021-11-02 11:10] muhserks commented on #586
@christian-bromann

The issue started with expect-webdriverio@3.1.2.
Looking into the unit test (https://github.com/webdriverio/expect-webdriverio/blob/main/test/matchers/element/toHaveChildren.test.ts) shows also that no test exists where no parameter is passed, even though it is described in the docs that it should be possible (https://webdriver.io/docs/api/expect-webdriverio/#tohavechildren):
`

[2021-11-17 15:37] Nio-o opened #601 "Inconsistent api for browser and elements matchers (about global browser)"
Hello.

I want to ask is there any reason why element matcher takes browser from global, but browser matcher has `browser` as argument of function?

https://github.com/webdriverio/expect-webdriverio/blob/dd3d2c0c5960cc7bedad7894a30508bb79c99e67/src/matchers/browser/toHaveTitle.ts#L4

https://github.com/webdriverio/expect-webdriverio/blob/dd3d2c0c5960cc7bedad7894a30508bb79c99e67/src/matchers/elemen

[2021-11-17 15:53] Nio-o commented on #601
I found similar issue. If you do not have any objections, I can try to make PR, obviously if it will be done without breaking changes
https://github.com/webdriverio/expect-webdriverio/issues/237

[2021-11-17 16:04] christian-bromann commented on #601
Let's close and mark as

duplicate of #237

[2021-11-17 16:04] #601 closed

[2021-12-20 06:43] saranyaeaswaran commented on #383
Hi @christian-bromann , Any updates on this to allow custom error messages to expect-webdriverio? This will be really a useful feature. Thanks.

[2021-12-20 08:03] christian-bromann commented on #383
No updates, anyone who would like to help contributing to this is welcome. Happy to provide support in any way.

[2022-02-07 12:20] shoobyban commented on #586
Please fix this. You just have to modify
https://github.com/webdriverio/expect-webdriverio/blob/e598db5137f7732b33c9d2e59bb54d98e8df9968/src/matchers/element/toHaveChildren.ts#L8
so it's
[code]

[2022-02-07 12:57] christian-bromann commented on #586
@shoobyban feel free to provide a PR with a fix, thanks!

[2022-02-18 00:48] WillBrock commented on #383
Would it make sense to have the error message in the expect instead of the matcher? Chai allows that way but not sure if there is a reason for it.

Something like this:
[code]
At least for jest we could implement something like this:

https://github.com/mattphillips/jest-expect-message

[2022-02-20 13:41] darkartswizard commented on #227
Adding another request for a SoftAssert feature in wendriverio-expect.

What a soft assert does is let the test continue even when the assertion fails.

This way you get a very telling metric: How many tests passed and how many failed. Not that 1 of 10 tests failed - which seems insignificant - while hiding the fact that the next 30 assertions failed as well - which seems rather significant.

Like

[2022-02-22 13:06] christian-bromann commented on #383
I think both ways seem reasonable to me:
[code]
or
[code]
I personally would prefer the second. I believe we can extend our matchers to work with either of these options.

[2022-02-22 22:36] darkartswizard commented on #227
Fair enough.

[2022-03-01 11:31] vaibhavjagdale opened #689 "Compilation error for ExpectWebdriverIO.Expect and jest.Expect"
I am working on UI and API test framework. where I have used expect from expect-webdriverio for UI validations and expect from chai for api validations.

when I run tsc, I will get below errors.

`node_modules/@types/jest/index.d.ts:47:15 - error TS2451: Cannot redeclare block-scoped variable 'expect'.
47 declare const expect: jest.Expect;
node_modules/expect-webdriverio/types/jest-global.d.ts:3:1

[2022-03-01 12:10] vaibhavjagdale commented on #94
I am also facing the same. @woolter Did you have solution for this?

[2022-03-01 12:16] christian-bromann commented on #689
If you use Jest please setup your types according to the [docs](https://github.com/webdriverio/expect-webdriverio/blob/main/docs/Types.md) as `expect-webdriverio/jest`. Let me know if that works.

[2022-03-01 12:16] #689 closed

[2022-03-06 02:18] simonefuoco opened #690 "npm run build - multiple errors"
After cloning the repository and running the command `npm install` all dependencies are installed.
At this point running the command `npm run build` give the following output:

[code]

[2022-03-06 02:25] simonefuoco commented on #690
I am ready to contribute to resolve the issue after discussing about it.

[2022-03-10 09:21] christian-bromann commented on #690
@simonefuoco thanks for filing the issue. I was able to resolve the problem with this commit: https://github.com/webdriverio/expect-webdriverio/commit/2c8efefcce1b50b1b62abc7af1f1eed3d5cf7f9d

However I was not able to upgrade `@types/node` to latest as it would cause some typing issues with globals. I am not quite sure how to go about this. Any idea?

Closing as `main` branch should be green agai

[2022-03-10 09:21] #690 closed

[2022-03-10 09:29] #586 closed

[2022-03-10 09:38] christian-bromann commented on #530
@TuxedoFish any updates on this?

[2022-03-10 09:43] #2 closed

[2022-03-10 09:44] christian-bromann commented on #2
Thanks to @Harry-Liversedge and @TuxedoFish for helping bumping the coverage to about 95% 🎉

[2022-03-10 09:45] christian-bromann commented on #33
Correct. Maybe we can expose an eventlistener that allows reporter to receive assertion events and include them in their reports.

[2022-03-30 12:39] maikeru opened #711 "Broken links: Element matchers linking to underlying functions"
Steps to reproduce:
1. In a browser visit https://webdriver.io/docs/api/expect-webdriverio#element-matchers
2. Click on the `isDisplayed` link under `toBeDisplayed`

Expected behaviour:
The doc page for `isDisplayed` should load.

Actual behaviour:
A Github 404 page is displayed.

From what I can see the broken link is pointing at
https://github.com/webdriverio/expect-webdriverio/blob/main/docs/ap

[2022-03-30 20:42] maikeru commented on #711
Had a go at a quick fix https://github.com/webdriverio/expect-webdriverio/pull/712

[2022-03-30 20:54] #711 closed

[2022-04-04 14:57] maikeru commented on #711
@christian-bromann did you get a chance to re-deploy the website? I'm still seeing the old (github) links

[2022-04-04 15:26] christian-bromann commented on #711
Not yet, let me trigger the workflow!

[2022-04-13 17:17] pillsilly opened #722 "Can `browser` reference not to be hard coded?"
https://github.com/webdriverio/expect-webdriverio/blob/2c8efefcce1b50b1b62abc7af1f1eed3d5cf7f9d/src/matchers/element/toHaveAttribute.ts#L26

As seen, the above implementation assumes the lib must be used in a supported test runner(which has "global.browser" by default)
but in fact my test runner (protractor) has that reference taken already.

Would it be reasonable if we open a path for such case?

[2022-04-13 17:25] christian-bromann commented on #722
Thanks for reporting!

Can you explain a bit your situation? Are you using Protractor and WebdriverIO together?

[2022-04-13 17:34] pillsilly commented on #722
I am aware of https://webdriver.io/docs/protractor-migration
but due to our complex architecture, I'm trying a solution aside of that and everything so far is fine until I tried to add expect-webdriverio.

As you might know, the protractor use "browser" as well in global scope, so when I inspect the code quoted above when running it.

I found it's actually the reference of protractor's "browser"

[2022-04-13 17:58] pillsilly commented on #722
just an example
[code]

[2022-04-13 19:07] christian-bromann commented on #722
Yeah, this library expects `browser` to be a global variable that points to the WebdriverIO instance. We already have an issue for this in #237 - which is why I am going to close this one - where we can continue to discussion started there.

What I would recommend though is to first work on a WebdriverIO setup that mimics what you have right now for Protractor and then port tests over file by file

[2022-04-13 19:07] #722 closed

[2022-04-14 01:59] pillsilly opened #723 "error TS1128: Declaration or statement expected."
I'm trying to make a code change but when I set up the project

When I try to build it:
` npx tsc --build tsconfig.build.json`

[code]
![image](https://user-images.githubusercontent.com/13218151/163298936-37d04aa1-ef43-4d0f-978d-c7f3288c6088.png)

Anyone has idea what cause it?

[2022-04-14 14:23] pillsilly commented on #723
@mgrybyk

[2022-04-14 19:52] mgrybyk commented on #723
You might be using incompatible typescript version or some issues with tsconfig.

[2022-04-15 02:14] pillsilly commented on #723
thank you ! I used `npm ci` this to go get a cleaner TS version so building came normal
@mgrybyk

[2022-04-16 15:57] pillsilly commented on #723
Strangely, when I later on tried to work on my the other computer, the problem could not be resolved by either varies ways of `npm ci`, `npm install` ...

Also, I found https://github.com/webdriverio/expect-webdriverio/issues/690
which seemed to be the same issue.

Thus I had to reopen this issue @mgrybyk ...

[2022-04-17 06:56] pillsilly commented on #723
And provided a fix

[2022-04-21 14:36] pillsilly commented on #723
Root cause clear now

![image](https://user-images.githubusercontent.com/13218151/164480948-954955f9-d50b-49af-befa-dd607c461b0f.png)

It is the soft link not recognized by Windows file system ..

And previously though I test in WSL but the clone operation was done in windows.

ONLY when clone operation is done in Linux the file could be correctly soft linked

So for whoever use windows it could b

[2022-04-21 14:36] #723 closed

[2022-04-27 11:05] paymand commented on #585
@christian-bromann Could you please review https://github.com/webdriverio/expect-webdriverio/issues/585 ?

[2022-04-27 22:47] christian-bromann commented on #585
Let's continue our convo in #735 .. thanks for taking a stab at it.

[2022-04-27 22:47] #585 closed

[2022-05-12 21:57] strmer15 opened #752 "TypeError: Cannot read property 'getEnv' of undefined with expect v28"
In our test environment, we've upgraded to `expect` v28. However, running tests with `webdriverio` 7.19.7 fails because `expect-webdriverio` calls `require('expect')` and then checks for `expect.extend` to exist. Instead, it should call `require('expect').expect` since the exports have changed in `expect` 28. This library should update to depend on the latest `expect` version and fix the import.

[2022-05-12 22:57] #752 closed

[2022-05-13 10:44] Paganini36 opened #755 "expect-webdriverio v 3.4.0 is broken"
Our project is being tested with webdriver.io which depends on expect-webdriverio. The project is automatically built and tested. On May 13, 2022, the test build failed with "TypeError: Unable to read property _expectWebdriverio of undefined". An error occurred in /expect-webdriverio/lib/options.js:21:16

Simultaneously with the broken tests, an update to the expect-webdriverio package "update dep

[2022-05-13 12:47] christian-bromann commented on #755
@Paganini36 thanks for raising the issue, can you provide a reproducible example so we understand which setup you have? Please note: I am not asking for your project I am asking for something I can run on my machine to verify the bug.

[2022-05-16 05:37] Paganini36 commented on #755
@christian-bromann any tests fall, so the example can be any.

Wdio installed according to the instructions on the site https://webdriver.io/docs/gettingstarted.

Package.json

`
{
  "name": "npm-wdio-tests",
  "version": "4.1.0-dev1",
  "main": "src/main.js",
  "author": "author",
  "license": "MIT",
  "scripts": {
    "test_run": "wdio run wdio.conf.js --suite test_1",
  },
  "dependencies": {

[2022-05-16 07:09] christian-bromann commented on #755
I just setup a fresh test suite using `npm init wdio ./test` and the generated boilerplate code worked like a charm.

[2022-05-17 21:24] circa1741 commented on #227
NUnit has Multiple Asserts. See https://docs.nunit.org/articles/nunit/writing-tests/assertions/multiple-asserts.html.

It would be nice if Webdrive.IO has the same capability.

"This is particularly useful for testing things like object initialization and UI appearance as well as certain kinds of integration testing."

[2022-05-17 21:47] christian-bromann commented on #227
@circa1741 I think we all agreed that soft assertions would be a nice option. Please get involved and help make it reality 😉

[2022-05-27 13:11] DivyangRaval commented on #227
Hi All,

It is been 2 years since this request was raised.
This is very basic functionality as it() block represents a Test and one Test will have multiple Test Steps which need to be asserted if any step fails we should continue to the next step to make sure get the complete execution result of all steps.

Is there any specific reason why this request never gets prioritized?
Or we already have so

[2022-05-28 21:32] eliasm307 commented on #383
Is anyone working on this? If not I would like to give it a go if thats alright?

Also, regarding the options, I feel this makes more logical sense as the description relates to the assertion, not the actual value provided
[code]

However this would mean each matcher would need its own implementation for this as the number of arguments is not consistent, and it would likely only apply to the wdio

[2022-05-29 03:34] iamkenos commented on #755
not sure if it's related but it might be a type defs issue.

after upgrading my dependencies, (i'm not using expect, i think it's coming from wdio/cucumber). my jest UTs started complaining:

excerpt from my package-lock:

[code]

jest UT type error
![image](https://user-images.githubusercontent.com/21245218/170850702-66dc7fe1-146e-4276-ac02-dfc85954b498.png)

the error seems to be coming from [th

[2022-05-30 09:30] christian-bromann commented on #383
@eliasm307 can you check if the underlying assertion lib [`expect`](https://www.npmjs.com/package/expect) has an issue filled to assertion messages that mimic your first suggestion:
[code]
Otherwise if the other one is the only possible way to implement it I am fine with it too.

[2022-05-30 18:58] eliasm307 commented on #383
@christian-bromann it doesn't seem Jest have any interest or intention to add assertion messages, see this closed thread https://github.com/facebook/jest/issues/1965, from a few years ago where different solutions were discussed and all shot down. This is actually the discussion that led to the jest-expect-message library mentioned above.

Also regarding this comment:

Its not the only way to impl

[2022-05-31 08:04] christian-bromann commented on #383
That sounds good to me. Let's go with the following syntax then:
[code]

[2022-05-31 08:37] eliasm307 commented on #383
OK, thanks for the confirmation. I'll start working on it next week

[2022-05-31 08:41] erwinheitzman opened #768 "[🐛 Bug]: toHaveAttribute(Containing) matcher does not work as documented when using Jasmine"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.19.7

### Node.js Version

16.14.2

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

On the following line https://gith

[2022-06-04 23:06] eliasm307 commented on #383
@christian-bromann looks like some matcher error message functionality is already implemented for wdio matchers, via the options, e.g.
[code]
(ie see https://github.com/webdriverio/expect-webdriverio/blob/main/types/expect-webdriverio.d.ts)

This only applies to the wdio matchers, however imo I dont think its worth adding another matcher error message api format to cover non-wdio matchers (ie jest

[2022-06-06 06:45] doneugen commented on #383
Hi guys, can you please advise how can I get an custom error message for this matcher?
expect(await someFunctionThatReturnsBoolean(valueToFind)
        //`Not found the expected value!`
      ).toBe(true, { message: `Not found the expected value` });

for now none(err message) is working

[2022-06-07 08:52] doneugen commented on #383
Thanks!

On Mon, Jun 6, 2022 at 8:39 PM eliasm307 ***@***.***> wrote:

--
[image: avatar]

Eugeniu Donos
QA

--
*

*Attention:**
*This e-mail and any files transmitted with it are
confidential and intended solely for the use of the individual or entity to
whom they are addressed.
If you have received this email in error, please
notify the sender immediately by replying to this message, and delete

[2022-06-07 20:26] christian-bromann commented on #383
@eliasm307 how would you suggest to proceed? Close this?

[2022-06-07 20:40] eliasm307 commented on #383
@christian-bromann yes I would say close this as there's not much more to do imo, since there is an existing implementation for custom error messages.

I don't think it's wise to add another implementation as it would be confusing and add to the maintenance cost

[2022-06-07 21:04] #383 closed

[2022-06-09 19:13] DJSdev opened #791 "[🐛 Bug]: Incorrect types for `expect()` when using browser matchers - 'await' has no effect on the type of this expression."
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

latest

### Node.js Version

16.14.2

### Mode

WDIO Testrunner

### Which capabilities are you using?

_No response_

### What happened?

I generated the example pro

[2022-06-10 19:16] kathan commented on #768
I'm not sure if it's related but `toHaveText` seems to have a similar issue. The code below always passes.
[code]

[2022-06-20 15:08] erwinheitzman commented on #791
@praveendvd those are not matchers from the expect-webdriverio library, those are either Mocha or Jasmine matchers and for that reason the message is correct in that the `await` doesn't do anything for it

[2022-06-20 15:09] christian-bromann commented on #791
Moving the issue into `expect-webdriverio` repository as it relates to the code written here. Right now we enhance the [`expect`](https://www.npmjs.com/package/expect) matchers (or Jasmine ones if you use it) which are all mostly synchronous matchers. We have type definitions for all [added matchers](https://github.com/webdriverio/expect-webdriverio/blob/main/types/expect-webdriverio.d.ts#L63). Ma

[2022-06-20 15:10] erwinheitzman commented on #791
I was under the same assumption @christian-bromann and you added some nice examples :)

[2022-07-28 20:26] nextlevelbeard opened #822 "💡[Feature]: Allow variable negation for expect"
Allow variable negation, useful for Cucumber pattern:
[code]

[2022-07-28 20:28] christian-bromann commented on #822
Is this not supported? I see usage of `isNot` in the matchers.

[2022-07-28 21:09] nextlevelbeard commented on #822
`isNot` might just be for internal use.
AFAIK there is no exposed way to pass a truthy/false value.

[2022-08-02 09:17] christian-bromann opened #829 "Support new `@wdio/globals` package"
With `v8` we will support globals to be optional. Currently `expect-webdriverio` depends on the browser variable to be global.

See also #237

[2022-08-11 10:34] christian-bromann commented on #829
fixed in #753

[2022-08-11 10:34] #829 closed

[2022-08-11 10:34] christian-bromann commented on #237
fixed in #753

[2022-08-11 10:34] #237 closed

[2022-08-11 10:35] christian-bromann commented on #822
I tested it with a latest install of WebdriverIO and everything was working as expected. Do you have a reproducible example?

[2022-08-11 10:39] christian-bromann commented on #768
Closing as with `v8` we won't use Jasmine matchers anymore.

[2022-08-11 10:39] #768 closed

[2022-08-11 10:40] christian-bromann commented on #755
Closing due to inactivity from the original author.

[2022-08-11 10:40] #755 closed

[2022-08-11 10:41] christian-bromann commented on #530
Closing due to inactivity. It seems that our coverage is with 90% good enough.

[2022-08-11 10:41] #530 closed

[2022-08-11 10:42] christian-bromann commented on #791
duplicate of #488

Given we don't need to support sync matchers anymore, this should be an easy one.

[2022-08-11 10:42] #791 closed

[2022-08-11 10:43] christian-bromann commented on #198
This got obsolete at this point as we don't support Jasmine matchers anymore.

[2022-08-11 10:43] #198 closed

[2022-08-11 10:44] #182 closed

[2022-08-16 13:45] christian-bromann opened #835 "Add better documentation how to create custom matchers"
see https://github.com/webdriverio/expect-webdriverio/pull/797#issuecomment-1216434441

[2022-08-17 08:30] paymand commented on #835
With the current released version, i.e. `3.4.0`, the only workaround is going to be what I mentioned in https://github.com/webdriverio/expect-webdriverio/pull/797#issuecomment-1216434441
For the next version `4.0.0`, I'm not sure since it's been rewritten to ESM (breaking change) and the code has changed quite a lot. I tried installing `expect-webdriverio@4.0.0-alpha.3` and converting our tests to

[2022-08-17 09:04] christian-bromann commented on #835
That would be great, thanks!

[2022-08-17 12:50] #835 closed

[2022-09-27 10:06] Lipsa16QE opened #878 ".toHaveTextContaining() not working as expected in "@wdio/cli": "^v7.20.1","
Hi,

I am trying to validate a string containing certain substring using .toHaveTextContaining() but it gives me an exception like Error:

code snippet like :- `expect(supplier).toHaveTextContaining(invoice.business);` where supplier is "Toys Factory OÜ
Estonia" and invoice.business is 'Toys Factory OÜ'.
[code]
Not sure whats wrong!!

[2022-09-27 11:30] #878 closed

[2022-10-02 06:17] christian-bromann commented on #822
Closing due to inactivity.

[2022-10-02 06:17] #822 closed

[2022-10-06 16:53] alminv opened #894 "expect(---).toHaveValue(---) trims the input by default"
Environment:

    WebdriverIO version: 7.24.1
    Node.js version: 16.17.1
    Browser name and version: Chrome 106
    Platform name and version: Windows 10

Describe the bug
If text in the field starts or ends with a space or new line/paragraph except(field).toHaveValue(value) fails because text is trimmed by default.

To Reproduce
`const field = await $"someField";
const text = "Some text ";
aw

[2022-10-06 18:33] christian-bromann commented on #894
Trimming is the default behavior, if you like to change that you can do this:

[code]

Closing as I don't see a bug here. Correct me if I am wrong.

[2022-10-06 18:33] #894 closed

[2022-10-25 13:43] Dji75 commented on #94
We are facing the same problem.
Functionnaly it works but our IDE raise errors because of `expect` typing mismatch between jest (used by webdriverio) and jasmine used in our project :(

Is there any workaround available we can try for this ?

[2022-10-25 14:32] Dji75 commented on #94
Here is the example:
[code]
`toHaveBeenCalledOnceWith` is underlined in red color with the following error:
[code]
Of course, it exists in jasmine (since 4.4), so we looked further...

When looking at type definition for `expect` (in `node_modules/@types/jasmine/index.d.ts`) , we see this :
[code]

`expect` is underlined in red color with the following error:
[code]

When looking in `node_modules/

[2022-10-26 13:07] Dji75 opened #915 "Webdriverio expect typing conflict with jasmine"
We use jasmine 4.4.0 in our project and in our unit tests code we encounter typing issue:

[code]
`toHaveBeenCalledOnceWith` is underlined in red color with the following error:
[code]
Of course, it exists in jasmine (since 4.4), so we looked further...

When looking at type definition for `expect` (in `node_modules/@types/jasmine/index.d.ts`) , we see this :
[code]

`expect` is underlined in red

[2022-10-26 15:30] davidjonesdialexa opened #916 "Expect toHaveText with escaped characters behaves inconsistently"
When asserting that an element has text with toHaveText, if the string to assert against contains `""` as in the following example, the Expected string contains the escape slashes, while the received string does not, causing the expect to fail. This behavior is inconsistent because I have the same component on 2 different screens in my app and on one screen the expect passes, on another the expect

[2022-10-26 17:11] davidjonesdialexa commented on #916
figured this out, in my app source, on the failing screen, the "" around the `0` are open-close instead of standard quotes

[2022-10-26 17:11] #916 closed

[2022-11-01 17:09] christian-bromann commented on #227
@PipulPant did you read the thread here?

[2022-11-01 18:15] darkartswizard commented on #227
Big fan of multiple validation.

[2022-11-03 22:15] DudaGod opened #924 "Make `expect-webdriverio` independent from global WebdriverIO primitives (support for it in standalone mode)"
Hello. I faced with problem when try to use expect-webdriverio@3.4.0 in my standalone script. Example of script to reproduce a problem:
[code]

When I run this script I get the following error:
[code]

During the debugging process, I found that the problem is that in this piece of code - https://github.com/webdriverio/expect-webdriverio/blob/v3.4.0/src/utils.ts#L30. Instance of browser use here fr

[2022-11-03 22:19] christian-bromann commented on #924
I am happy to create a `v3` branch and continue releases for it but ultimately with `v8` we will move forward with version 4 so we would need to have two PRs.

[2022-11-03 22:52] DudaGod commented on #924
In v4 used [@wdio/globals](https://github.com/webdriverio/webdriverio/tree/main/packages/wdio-globals) - https://github.com/webdriverio/expect-webdriverio/blob/main/src/utils.ts#L1 which works only with wdio-runner (here - https://github.com/webdriverio/webdriverio/blob/428a9d729ae6231968a60908732fa3f607d195e9/packages/wdio-runner/src/index.ts#L300). So how it was supposed to be used in standalone

[2022-11-03 22:58] christian-bromann commented on #924
`expect-webdriverio` was developed to be used with the testrunner. I like the idea of making it independent of it and I think it should work similarly to how it will be implemented in v3.

[2022-11-04 03:56] christian-bromann commented on #924
Actually I will pick this up for `v8` as it causes issues with the main repo.

[2022-11-04 04:45] #924 closed

[2022-11-04 04:48] christian-bromann commented on #924
@DudaGod I fixed the issue in the `main` branch. You can adopt the same changes to the [`v3`](https://github.com/webdriverio/expect-webdriverio/tree/v3) branch and make a PR. I am happy to merge and release that one.

[2022-11-04 11:54] DudaGod commented on #924
Done - https://github.com/webdriverio/expect-webdriverio/pull/925

[2022-11-09 12:18] pinim opened #931 "some bug with 'toBeElementsArrayOfSize' matcher"
the last night, my nightly tests crashed in a lot of places, the only thing of the crashes is this error
[code]
I have not applied any changes to my code in the last week, someone else occurring with the problem?

edit: looks like occurring only in `expect(elemntsArray).toBeElementsArrayOfSize(0)`, in cases i want to validate that the array is totally not in the dom.

[2022-11-09 17:05] christian-bromann commented on #931
This seems to be related to #925 , cc @DudaGod

[2022-11-09 18:07] DudaGod commented on #931
Sorry. I will fix it tomorrow (10 november).

[2022-11-10 17:12] christian-bromann commented on #931
@pinim I just triggered a release with a fix, can you verify if everything is ok again?

[2022-11-11 13:27] psstoyanov opened #933 "[🐛 Bug]: Default example project - error in toHaveText"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

v7.25.4

### Node.js Version

v19.0.0

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

Followed the Get Started tutorial

[2022-11-11 18:52] christian-bromann commented on #933
This just got fixed and will be released as `v3.5.2`.

[2022-11-11 18:52] #933 closed

[2022-11-11 18:52] christian-bromann commented on #931
This is fixed in `v3.5.2`

[2022-11-11 18:52] #931 closed

[2022-11-12 16:29] dipushrestha opened #935 "[🐛 Bug]: toHaveAttr doesn't match when the attribute value contains &nbsp; character"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/webdriverio/webdriverio/blob/main/CONTRIBUTING.md#reporting-new-issues).

### WebdriverIO Version

7.25.0

### Node.js Version

16.17.1

### Mode

WDIO Testrunner

### Which capabilities are you using?

[code]

### What happened?

![image](https://user-images.githu

[2022-11-14 04:24] dipushrestha commented on #935
@praveendvd you can work on this

[2022-11-18 14:05] praveendvd commented on #935
@christian-bromann  i will take it up

[2022-11-26 00:18] rajivnw opened #955 "can we use or override Jasmine expect in cucumber project?"
I would like to use Jasmine expect in cucumber project. Reason is, I created test using webdriverio and cucumber project. WebDriverIo have its own expect but that stop the test execution once it fail (hard-assert). I would like to run all the steps and fail at the end (soft-assert).

I would like to override or would like to use Jasmine
instead of WebDriverIO assert https://webdriver.io/docs/asser

[2022-11-26 04:00] christian-bromann commented on #955
@rajivnw thanks for raising the issue.

Using Jasmine assertion library in a Cucumber project is currently not possible. There is currently an open issue to add [soft assertions](https://github.com/webdriverio/expect-webdriverio/issues/227) for `expect-webdriverio`. Please get involved you have interest in this. See also discussions in facebook/jest#13205.

Closing as duplicate if #227

[2022-11-26 04:00] #955 closed

[2022-11-26 04:01] christian-bromann commented on #227
It seems like there is some discussion going on in the `expect` package, see facebook/jest#13205.

[2022-11-29 17:32] christian-bromann commented on #931
@pinim can you provide a minimal reproducible example?

[2022-11-30 09:51] pinim commented on #931
I tried to reproduce it on the wdio `appium-boilerplate` demo app, but there it works, only in my app the error does happen, so maybe it's a specific problem with my app... I will try maybe later to deep investigate it.

[2022-11-30 09:53] pinim commented on #931
But it's a bit strange the error is mine, isn't it? It looks exactly like the error of the bug that was here

[2022-11-30 10:13] pinim commented on #931
so, the problem was not related to this fixed bug, but because I'm starting here the discussion I will continue here with the explanation...
I have an assumption that the methode `expect($('selector)).toBeSomthing()` is trying to find the element in the exact state until reaching the `waitfotTimeOut`, so even in the first few seconds the element is not exist, wdio knows to handle the `element not